@import "../scss/variable";

.ro_header_slider_wrapper {
  display: flex;
  width: 80%;
  margin: auto auto 50px;

}

.ro_header_slider {
  display: flex !important;
  width: 100% !important;
  align-items: center;
  justify-content: space-between !important;
  margin: auto !important;

}

.ro_slider_content {
  display: flex;
  margin-left: 50px;
  flex: 30%;
  flex-direction: column;
}

.ro_slider_tittle {
  font-size: 36px;
  font-family: $font-family;
  color: $color_white;
  border-radius: 100%;

}

.ro_slider_img_inf {
  display: flex;
  flex: 54%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.ro_slider_ellipse {
  position: relative;
  width: 430px;
  height: 430px;
  border-radius: 50%;
  background-color: $color_gray;

}

.ro_slider_img {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 380px;
  height: 380px;
  border-radius: 50%;
}

.ro_slider_text {
  margin: 30px 0 25px;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background-image: url("../images/left_arrow.svg");
  height: 28px;
  width: 15px;
  display: block;

  &:before {
    content: ''
  }
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  background-image: url("../images/right_arrow.svg");
  height: 28px;
  width: 15px;
  display: block;
  &:before {
    content: ''
  }
}