doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title Title
        link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css' integrity='sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=' rel='stylesheet' crossorigin='anonymous')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css' integrity='sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=' rel='stylesheet' crossorigin='anonymous')
        link(rel='stylesheet', href='./css/main.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

    body
        // HEADER
        .ro_header_wrapper
            .ro_header_line
            .wrapper
                .ro_header_nav_logo
                    .ro_logo_wrapper
                        .ro_logo The Modernist
                            .ro_logo_text Free PSD Website Template
                    .burger_menu
                        span
                    .ro_navbar_wrapper
                        a(href='#').ro_nav_link HOME
                        a(href='#').ro_nav_link STYLE DEMO
                        a(href='#').ro_nav_link FULL WIDTH
                        a(href='#').ro_nav_link DROPDOWN
                        a(href='#').ro_nav_link PORTFOLIO
                        a(href='#').ro_nav_link GALLERY




                .ro_header_slider_wrapper
                    .ro_header_slider
                        .ro_slider_content
                            p.ro_slider_tittle Cursus penati saccum nulla.
                            p.ro_content_blog.ro_slider_text Nullamlacus dui ipsum consaque lobottis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue margis vestbulum quismodo nulla et feugiat ad piscinia pellentu, leo.
                            a(href="/").ro_contact_submit.ro_content_blog.ro_slider_button Read More Here >>
                        .ro_slider_img_inf
                            .ro_slider_ellipse
                                img(src='images/cat.jpg' alt='Little cat').ro_slider_img

                    .ro_header_slider
                        .ro_slider_content
                            p.ro_slider_tittle Cursus penati saccum nulla.
                            p.ro_content_blog.ro_slider_text Nullamlacus dui ipsum consaque lobottis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue margis vestbulum quismodo nulla et feugiat ad piscinia pellentu, leo.
                            button.ro_contact_submit.ro_content_blog.ro_slider_button Read More Here >>
                        .ro_slider_img_inf
                            .ro_slider_ellipse
                                img(src='images/cat_2.jpg' alt='Little cat').ro_slider_img

                    .ro_header_slider
                        .ro_slider_content
                            p.ro_slider_tittle Cursus penati saccum nulla.
                            p.ro_content_blog.ro_slider_text Nullamlacus dui ipsum consaque lobottis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue margis vestbulum quismodo nulla et feugiat ad piscinia pellentu, leo.
                            a(href="/").ro_contact_submit.ro_content_blog.ro_slider_button Read More Here >>
                        .ro_slider_img_inf
                            .ro_slider_ellipse
                                img(src='images/cat_3.jpg' alt='Little cat').ro_slider_img









        //CONTENT
        .ro_content_wrapper

            .wrapper

                .ro_service_wrapper
                    .ro_service_table
                        img(src='images/cat_body_1.jpg' alt='Little cat service').ro_service_img
                        .ro_tittle_service SERVICE TITTLE
                        .ro_content_service Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
                    .ro_service_table
                        img(src='images/cat_body_2.jpg' alt='Little cat service').ro_service_img
                        .ro_tittle_service SERVICE TITTLE
                        .ro_content_service Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
                    .ro_service_table
                        img(src='images/cat_body_3.jpg' alt='Little cat service').ro_service_img
                        .ro_tittle_service SERVICE TITTLE
                        .ro_content_service Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
                    .ro_service_table
                        img(src='images/cat_body_4.jpg' alt='Little cat service').ro_service_img
                        .ro_tittle_service SERVICE TITTLE
                        .ro_content_service Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue
                .ro_tittle_work_wrapper
                    .ro_line_work
                    .ro_tittle_work LATEST WORK
                    .ro_line_work
                .ro_work_img_wrapper
                    .ro_table_work_img
                        img(src='images/cat_work_1.jpg' alt='Little cat latest work').ro_work_img
                        .ro_conteiner_text_work
                            .ro_text_work_img LOREM IPSUM DOLOR
                    .ro_table_work_img
                        img(src='images/cat_work_2.jpg' alt='Little cat latest work').ro_work_img
                        .ro_conteiner_text_work
                            .ro_text_work_img LOREM IPSUM DOLOR
                    .ro_table_work_img
                        img(src='images/cat_work_3.jpg' alt='Little cat latest work').ro_work_img
                        .ro_conteiner_text_work
                            .ro_text_work_img LOREM IPSUM DOLOR
                    .ro_table_work_img
                        img(src='images/cat_work_4.jpg' alt='Little cat latest work').ro_work_img
                        .ro_conteiner_text_work
                            .ro_text_work_img LOREM IPSUM DOLOR
                    .ro_table_work_img
                        img(src='images/cat_work_5.jpg' alt='Little cat latest work').ro_work_img
                        .ro_conteiner_text_work
                            .ro_text_work_img LOREM IPSUM DOLOR
                    .ro_table_work_img
                        img(src='images/cat_work_6.jpg' alt='Little cat latest work').ro_work_img
                        .ro_conteiner_text_work
                            .ro_text_work_img LOREM IPSUM DOLOR



        //FOOTER
        .ro_footer_wrapper
            .wrapper
                .ro_table_footer_wrapper
                    .ro_table_blog
                        .ro_title_blog From The Blog
                        .ro_post_blog Post Title
                        .ro_admin_blog Admin,
                            a(href='#').ro_admin_email_blog  domainname.com
                        .ro_day_blog Friday, 6th April 2000
                        .ro_content_blog Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla
                        a(href='#').ro_more_blog Read More>>
                    .ro_table_blog
                        .ro_title_blog Quick Links
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Lorem inpsum dolor sit
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Amet consectetur
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Praesent velsem id
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Curabitur hendrerit est
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Aliquam eget erat nec sapien
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Cras id augue nunc
                        .ro_link_wrapper
                            a(href='#').ro_quick_link >Sed a nulla urna
                    .ro_table_blog
                        .ro_title_blog Latest Tweets
                        a(href='#').ro_quick_link.ro_quick_link_tweet @namehere
                            span.ro_content_blog  Justoid nonummy laoreet phasellent penatoque in anteque pellus alis agat tincidunt. Nequatduil laorem justo a non tellus laoremut vitae doloreet 1 day ago
                        a(href='#').ro_quick_link.ro_quick_link_tweet @namehere
                            span.ro_content_blog  Justoid nonummy laoreet phasellent penatoque in anteque pellus alis agat tincidunt. Nequatduil laorem justo a non tellus laoremut vitae doloreet 1 day ago
                    .ro_table_blog
                        .ro_title_blog Contact Us
                        form#ro_form
                            div
                                input(type="text" name='userName' placeholder='Full Name').ro_contact_form.ro_content_blog
                            div
                                input(type="text" name='userEmail' placeholder='Email Address').ro_contact_form.ro_content_blog
                            div
                                input(type="text" name='subject' placeholder='Subject').ro_contact_form.ro_content_blog
                            div
                                textarea(name="message"  placeholder='Message').ro_contact_form.ro_content_blog.ro_contact_message
                            button.ro_contact_submit.ro_content_blog SUBMIT
        //FOOTER INFORMATION
        .ro_footer_wrapper.ro_footer_wrapper_inf
            .wrapper
                .ro_footer_inf
                    .ro_content_blog Copyright 2013 Domain Name - All Rights Reserved
                    .ro_content_blog Template by OS Templates

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous")
    script(src="main.js")